<% if supplier_signed_in? && @company.supplier == current_supplier %>
  <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3">
    <%= link_to 'Minha Empresa', company_path(@company), class: "btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder"%>
  </div>
<% end %>