<div class="row gx-5 justify-content-center">
  <div class="col-lg-11 col-xl-9 col-xxl-8">
    <section>
      <div class="mb-4">
        <h2 class="text-primary fw-bolder mb-0"><%= t('views.edit.edit_event_type') %></h2>
      </div>
      <%= render partial: 'form', locals: { event_type: @event_type } %>
    </section>
  </div>
</div>