<div class="row gx-5 justify-content-center">
  <div class="col-lg-11 col-xl-9 col-xxl-8">
    <section>
      <%= render 'event_types/event_type_details', event_type: @event_type, company: @company %>
      <%= render 'event_types/event_pricing_details', event_type: @event_type, company: @company %>
      <hr>
      <%= link_to t('helpers.buttons.back'), company_path(@company), class: "btn btn-secondary" %>
    </section>
  </div>
</div>
