.event-title {
    color: #EA7DA8;
  }
.btn-outline-rosa {
  color: #FA488F;
  border-color: #FA488F;
}

.btn-outline-rosa:hover {
  color: white;
  background-color: #FA488F;
  border-color: #FA488F;
}
.custom-text-size {
  font-size: 0.85rem;
}
.description-text {
  font-size: 0.9rem;
}
