.event-title {
    color: #EA7DA8;
  }

.order-title {
  color: #73AE62;
}

.price-title {
    color: #7C9DEB;
  }

.date-title {
  color: #50803D;
}

.btn-outline-rosa {
  color: #FA488F;
  border-color: #FA488F;
}

.btn-outline-rosa:hover {
  color: white;
  background-color: #FA488F;
  border-color: #FA488F;
}

.btn-outline-green {
  color: #8AAD71;
  border-color: #55AD44;
}

.btn-outline-green:hover {
  color: white;
  background-color: #55AD44;
  border-color: #8AAD71;
}

.custom-text-size {
  font-size: 0.85rem;
}

.description-text {
  font-size: 0.9rem;
}

.event-image {
  max-width:400px;
  max-height:450px;
  width: auto;
  height: auto;
  border-radius: 15%;
  filter: drop-shadow(4px 4px 10px #a9a9a9);
  margin: 5px;
  margin-top: 5px
}

.event-image-sm {
  max-width:400px;
  max-height:350px;
  width: auto;
  height: auto;
  border-radius: 15%;
  margin: 3px;
  margin-top: 3px
}

