<li class="nav-item">
  <%= link_to current_supplier.description, "#", class: "nav-link disabled", aria: { current: "page" } %>
</li>
<% if @company&.persisted? %>
  <li class="nav-item">
    <%= link_to t('views.home.company'), company_path(@company), class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to t('views.home.orders'), my_company_orders_path(@company), class: "nav-link" %>
  </li>
<% end %>
<li class="nav-item">
  <%= button_to t('helpers.submit.log_out'), destroy_supplier_session_path, method: :delete, class: "nav-link btn btn-outline-secondary" %>
</li>